<div class="container">
    <div class="row">
        <h2 class="fw-bold mt-2 text-center">TIME TABLE</h2><br>
        <span class="text-primary text-center fw-bold">This time table is made according to the Conference start date</span>
        <table border="5" cellspacing="0" align="center" class="mt-2">
            <!--<caption>Timetable</caption>-->
            <tr> <!--Table heading row-->
                <td align="center" height="50"
                    width="100"><br>
                    <b>Day</b>
                </td>
                <td align="center" height="50"
                    width="100">
                    <b>I<br>9:00 AM</b>
                </td>
                <td align="center" height="50"
                    width="100">
                    <b>II<br>10:00-11:30</b>
                </td>
                <td align="center" height="50"
                    width="100">
                    <b>III<br>11:30-12:30</b>
                </td>
                <td align="center" height="50"
                    width="100">
                    <b>12:30-2:40</b>
                </td>
                <td align="center" height="50"
                    width="100">
                    <b>IV<br>2:00-2:30</b>
                </td>
                <td align="center" height="50"
                    width="100">
                    <b>V<br>2:30-3:00</b>
                </td>
                <td align="center" height="50"
                    width="100">
                    <b>VI<br>3:20-4:00</b>
                </td>
                <td align="center" height="50"
                    width="100">
                    <b>VII<br>4:00-4:30</b>
                </td>
                <td align="center" height="50"
                    width="100">
                    <b>VII<br>4:30-5:00</b>
                </td>
                <td align="center" height="50"
                    width="100">
                    <b>VII<br>5:00-5:30</b>
                </td>
            </tr>
            <tr>
                <td align="center" height="50">
                    <b>Day 1</b></td>
                <td align="center" height="50">Talk</td>
                <td align="center" height="50">Coffee break</td>
                <td align="center" height="50">Primary Talk</td>
                <td rowspan="6" align="center" height="50">
                    <h2>L<br>U<br>N<br>C<br>H</h2>
                </td>
                <td align="center" height="50">Primary Talk</td>
                <td align="center" height="50">Primary Talk</td>
                <td align="center" height="50">Tea Break</td>
                <td align="center" height="50">Primary Talk</td>
                <td align="center" height="50">Primary Talk</td>
                <td align="center" height="50">Poster Session</td>
            </tr>
            <tr>
                <td align="center" height="50">
                    <b>Day 2</b>
                </td>
                <td align="center" height="50">Talk</td>
                <td align="center" height="50">Coffee break</td>
                <td align="center" height="50">Primary Talk</td>
                <td align="center" height="50">Primary Talk</td>
                <td align="center" height="50">Primary Talk</td>
                <td align="center" height="50">Tea Break</td>
                <td align="center" height="50">Primary Talk</td>
                <td align="center" height="50">Primary Talk</td>
                <td align="center" height="50">Poster Session</td>
            </tr>
            <tr>
                <td align="center" height="50">
                    <b>Day 3</b>
                </td>
                <td align="center" height="50">Talk</td>
                <td align="center" height="50">Coffee break</td>
                <td align="center" height="50">Primary Talk</td>
                <td align="center" height="50">Primary Talk</td>
                <td align="center" height="50">Primary Talk</td>
                <td align="center" height="50">Tea Break</td>
                <td align="center" height="50">Primary Talk</td>
                <td align="center" height="50">Primary Talk</td>
                <td align="center" height="50">Poster Session</td>
            </tr>
            <tr>
                <td align="center" height="50">
                    <b>Day 4</b>
                </td>
                <td align="center" height="50">Talk</td>
                <td align="center" height="50">Coffee break</td>
                <td align="center" height="50">Primary Talk</td>
                <td align="center" height="50">Primary Talk</td>
                <td align="center" height="50">Primary Talk</td>
                <td align="center" height="50">Tea Break</td>
                <td align="center" height="50">Primary Talk</td>
                <td align="center" height="50">Primary Talk</td>
                <td align="center" height="50">Poster Session</td>
            </tr>
        </table>
    </div>
</div>