<div class="banner">
    <div class="container">
        <div class="row">
            <h1 class="text-center fw-bold fs-1 mb-5">Welcome to Conference !!</h1>
            <p class="text-center fst-italic">Welcome to the world's best and the largest Java conference.</p>
            <p class="text-center fst-italic">25+ Java Core members and experts from multi national companies | 1000+ Attendees | Global</p>
            <p class="text-center fst-italic">Audience from 50+ countries | 4 days full Talks</p>
        </div>
    </div>
</div>