.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),url(../../../assets/images/conference.jpg);
    background-size: cover;
    background-position: center;
}

.row {
    color: #ffffff;
    padding: 13%;
}