<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/images/logo.jpg" alt="" />
                </div>

                <h1 class="text-center">INVITED SPEAKER</h1>

                <form #invitedSpeakerForm="ngForm" (ngSubmit)="onSubmit()">
                    <ng-container>
                        <!--Arrival Date-->
                        <mat-form-field color="accent" appearance="fill">
                            <mat-label>Arrival Date</mat-label>
                            <input matInput [matDatepicker]="picker1" 
                                name="arrivalDate" 
                                [(ngModel)]="invitedSpeaker.arrivalDate"
                                [matDatepickerFilter]="dateFilter"
                                #arrivalDate = "ngModel"
                                required
                            />
                            <mat-hint>YYYY-MM-DD</mat-hint>
                            <mat-hint class="text-danger" *ngIf="arrivalDate.touched && !arrivalDate.valid">
                                Please Enter Arrival Date
                            </mat-hint>

                            <mat-datepicker-toggle matSuffix 
                                [for]="picker1">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker1
                                startView="multi-year" 
                                [startAt]="startDate">
                            </mat-datepicker>
                        </mat-form-field>
                        

                        <!--Departure Date-->
                        <mat-form-field color="accent" appearance="fill">
                            <mat-label>Departure Date</mat-label>
                            <input matInput [matDatepicker]="picker2"
                                name="departureDate" 
                                [(ngModel)]="invitedSpeaker.departureDate"
                                [matDatepickerFilter]="dateFilter"
                                #departureDate = "ngModel"
                                required
                            />
                            <mat-hint>YYYY-MM-DD</mat-hint>
                            <mat-hint class="text-danger" *ngIf="departureDate.touched && !departureDate.valid">
                                Please Enter Arrival Date
                            </mat-hint>

                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2
                                startView="multi-year" 
                                [startAt]="startDate">
                            </mat-datepicker>
                        </mat-form-field>

                        <div class="mb-3">
                            <label class="form-label">Please select file for Abstract</label>
                            <input class="form-control" 
                                type="file"
                                (change) = "onChangeFile($event)"
                                required
                            />
                            <mat-hint>Optional</mat-hint>
                        </div>
                    </ng-container>

                    <div class="container text-center mt-5">
                        <button mat-raised-button type="submit" [disabled]="!invitedSpeakerForm.valid" color="primary">Submit</button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>
